<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--S3 Bucket名称-->
		<add key="_S3BucketName" value="mystackbucket"/>
		<!--EC2 执行脚本文件名称(需tar压缩上传)-->
		<add key="_EC2ScriptFileName" value="EC2RunScript.tar"/>
		<!--EC2角色名称-->
		<add key="_EC2RoleName" value="MyStack_EC2Role"/>
		<!--EC2 镜像ID-->
		<add key="_EC2ImageID" value="ami-0d94049e9a613c333"/>
		<!--Region-->
		<add key="_Region" value="cn-north-1"/>
		<!--DynamoDB 表名称-->
		<add key="_DynamoDbTableName" value="FileTable"/>
		<!--EC2安全组名称-->
		<add key="_EC2Group" value="MyStackEC2Group"/>
		<!--VPC 名称-->
		<add key="_VpcName" value="MyStackVPC"/>
		
		<!--网站 Bucket名称-->
		<add key="_WebSiteBucketName" value="mywebsitebucket"/>
	</appSettings>
</configuration>